<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.moorre.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="SplashScreen"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Workouts.AddWorkoutPage"
            android:label="@string/title_activity_add_workout_page"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.home.moorre.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".Workouts.ViewWorkouts"
            android:label="@string/title_activity_view_workouts"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".Workouts.ViewSingleWorkout"
            android:label="@string/title_activity_view_single_workout" >
        </activity>
        <activity
            android:name=".Workouts.EditWorkout"
            android:label="@string/title_activity_edit_workout"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".Logs.MainLogPage"
            android:label="@string/title_activity_main_log_page" >
        </activity>
        <activity
            android:name=".Logs.AddLogPage"
            android:label="@string/title_activity_add_log_page" >
        </activity>
        <activity
            android:name=".Logs.ViewLogPage"
            android:label="@string/title_activity_view_log_page" >
        </activity>
        <activity
            android:name=".Workouts.FilterWorkouts"
            android:label="@string/title_filter_workouts">
        </activity>
    </application>

</manifest>
